# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/

# Streamlit Cache
.streamlit/

# Database
database/users.db

# Uploaded Files
resumes/
jobs/

# OS Files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log